@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: "Rubik", sans-serif;
}
div {
  display: block;
  position: relative;
}

.form-control {
  color: #db5246;
}
section {
  display: block;
  position: relative;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fill_height {
  height: 100%;
}
.super_container {
  width: 100%;
  overflow: hidden;
}
.prlx_parent {
  overflow: hidden;
}
.prlx {
  height: 130% !important;
}
.nopadding {
  padding: 0px !important;
}
.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}
.button:hover {
  opacity: 0.8;
}

.viewed {
  padding: 10px 0;
}
.bbb_viewed_title_container {
  border-bottom: solid 1px #dadada;
}
.bbb_viewed_title {
  margin-bottom: 14px;
}
.bbb_viewed_nav_container {
  position: absolute;
  right: -5px;
  bottom: 14px;
}
.bbb_viewed_nav {
  display: inline-block;
  cursor: pointer;
}
.bbb_viewed_nav i {
  color: #57575a;
  font-size: 24px;
  background-color: #ffa07f;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bbb_viewed_nav:hover i {
  color: #292933;
}

.bbb_viewed_slider_container {
  padding-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bbb_viewed_item {
  width: 100%;
  /* background: #eff6fa; */
  border-radius: 2px;
  padding: 15px;
}
.bbb_viewed_image {
  width: 115px;
  height: 115px;
  padding: 5px 0;
}
.bbb_viewed_image img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.bbb_viewed_content {
  width: 100%;
  margin-top: 25px;
}
.bbb_viewed_price {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.bbb_viewed_item.discount .bbb_viewed_price {
  color: #df3b3b;
}

.bbb_viewed_price span {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
}

.bbb_viewed_price span::after {
  display: block;
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: 1px;
  content: "";
}

.bbb_viewed_name {
  font-family: "Rubik", sans-serif;
  line-height: 1.7;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}

.item_marks {
  position: absolute;
  top: 18px;
  left: 18px;
}
.item_mark {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
.item_discount {
  background: #df3b3b;
  margin-right: 5px;
}
.item_new {
  background: #0e8ce4;
}
.bbb_viewed_item.discount .item_discount {
  display: inline-block;
}
.bbb_viewed_item.is_new .item_new {
  display: inline-block;
}
.transition-all-300 {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bbb_viewed_item:hover {
  color: #f77b0b;
  z-index: 2;
  transform: translateY(-0.5rem);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #e72e05), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
}

.bbb_viewed_item:hover .bbb_viewed_name {
  color: #f77b0b;
}

.owl-stage {
  margin: auto;
}

.owl-stage-outer {
  margin: 0 1.2rem 0 0;
}

.owl-item {
  margin: 0 15px !important;
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden !important;
}

@media only screen and (max-width: 1024px) {
  .owl-stage-outer {
    margin: 0 0.5rem 0 1.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .viewed {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 474px) {
  .owl-item > .owl-item {
    margin: 0 0 0 4rem !important;
  }
}

@media only screen and (max-width: 430px) {
  .owl-item > a.owl-item {
    margin: 0 !important;
  }
  .owl-stage-outer {
    margin: 0 0 0 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .owl-item > .owl-item {
    margin: 0 0 0 2rem !important;
  }
}

@media only screen and (max-width: 375px) {
  .owl-item > .owl-item {
    margin: 0 0 0 1.2rem !important;
  }
}
@media only screen and (max-width: 350px) {
  .owl-item {
    margin: 0 !important;
  }
  .owl-stage-outer {
    padding-left: 0.9;
    margin: 0 !important;
  }
  .bbb_viewed_item {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .owl-stage {
    padding-left: 100px;
  }
  .owl-item.active {
    padding: 0 10px 0 20px !important;
  }
}
